.idea/
.next/
.sync/
node_modules/
dist/
*.iml
tests/out
yarn.lock
package-lock.json
.tmp*
tmp.*.jpeg
tmp.*.out
webpack-assets.json
webpack-stats.json
npm-debug.log
build/
.DS_Store
*.bz2
.env
.env.prod
.*_*